{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<html>
  <head>
    <title>Core</title>
  </head>
  <body>
    <br></br><br></br>
    <div style="text-align: center;">
      <div style="width: 500px; margin: 0 auto; color: #000;">Pagina del TFG de Javier Sanmiguel Treviño. 
        <br></br>Para crear una ruta, seleccionar "Crear Ruta" en la barra superior. </div>
    </div><br></br><br></br>
    <center><img src="../static/eps.jpg" alt="centered image" height="300" width="500"> </center>
  </body>
</html>
{% endblock %}